# {{ project_name }}

{{ project_description }}

Installation
---

Clone the repository to your local machine.

```bash
git clone https://github.com/username/Project_Name.git
```

Install dependencies

```bash
poetry install
```

Start development server

```bash
poetry run dev
```
or
```
poetry run runserver
```
or
```
poetry run app runserver
```
